Django==3.0.6
psycopg2==2.8.5
djangorestframework
mysqlclient==1.3.12
django-mysql==2.2.0
django-oauth-toolkit
django-filter
djangorestframework_simplejwt
djangorestframework-jwt
phonenumbers
validate_email
python-decouple
dj-database-url
dj-static